  body {
    background-color: beige;
  }
  
  .dropdown {
    /* background: #bce6b6; */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 2px 10px;
    height: 25vw;
  }

  .escolha {
    font-size: small;
    /* margin: auto; */
    margin-bottom: 1px;
    margin-left: 6px;
  }

  .dropdown h2 {
    color: #44884f;
    font-size: 5vw;
    padding: 1.5vw 2vw;
  }

  option {
    background: #faf8f8;
    font-size: 1vw;
  }

  img {
    margin-left: 500px;
  }